

body, #root {
  font-family: "Suisse Intl", "Helvetica", "Arial", sans-serif;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: black;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.logo {
  height: 32px;
  margin: 16px;
 
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
