header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	opacity: 0.1;
}
.logo {
	display: inline-flex;
	background-color: #000000;
	padding: 25px 0;
	height: 50px;
	text-align: left;
	border-bottom: 5px solid #39C463;
	width: 100%;
}

img {
	padding-top: 10px;
	padding-left: 20px;
	height: 30px;
	width: 174px;
}

.logout{
	background-color: transparent;
	border: none;
	font-size: 14px;
	padding-left: 0;
	outline: none;
  }