.modalBox {
    display: block;
    text-align: center;
    width: 440px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.664);
}
.modalBox span {
    text-align: justify;
    text-justify:inter-cluster;
    color: rgba(255, 255, 255, 0.664);
}
span.perfectMatch, span.want {
    color:#58bd4e;
}
span.strongMatch {
    color: #95cd61;
}
span.goodMatch, span.willing {
    color: #f2f234;
}
span.willing {
    color: #ffa502;
}
span.notMatch, span.wont{
    color: #ff5938;
}