button.selection {
    color: #fafafa;
    margin: 100px;
    font-weight: 600;
    background: none;
    border: 2px #fafafa solid;
    transition: transform 300ms;
    height: 50px;
}
button.selection:hover {
    transform: translateY(-3px);
}